<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
	Page Header
	<small>Optional description</small>
  </h1>
  <ol class="breadcrumb">
	<li><a href="/res/admin/#"><i class="fa fa-dashboard"></i> Level</a></li>
	<li class="active">Here</li>
  </ol>
</section>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">

  <!-- Your Page Content Here -->

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->